@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.scroll-list::-webkit-scrollbar {
  height: 0.75rem;
}

.scroll-list::-webkit-scrollbar-track,
.scroll-list::-webkit-scrollbar-track {
  background-color: #1d2147;
  border-radius: 100vw;
}

.scroll-list::-webkit-scrollbar-thumb,
.scroll-list::-webkit-scrollbar-thumb {
  background-color: #1f62c0;
  border-radius: 100vw;
}
