*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* styles */
body {
  min-height: 100vh;
  line-height: 1.6;
  background-color: #171717;
  color: #fff;
}

main {
  padding: 2rem;
}

td {
  padding: 10px;
  border: 1px solid white;
}

tbody > tr:nth-child(odd) {
  background-color: rgb(57, 56, 56);
}

table {
  margin-top: 2rem;
}

select {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

caption {
  font-size: 1.2rem;
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-tables {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .info-tables {
    flex-direction: column;
  }

  .dropdowns {
    flex-direction: column;
  }
}
